@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body{
    margin: 0;
    padding: 70px 24px 100px 100px;
    background-color: rgb(248, 248, 248);
}
p{
    margin: 0;
    font-family: Roboto, Arial;
}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}
@media (max-width: 750px){
    .video-grid{
        grid-template-columns: 1fr 1fr ;

    }
}
/* .video-info{
    width: 300px;
} */
.video-thumbnail{
    position: relative;
}
.thumbnail{
    width: 100%;
    margin-top: 10px;
}
.channel-info{
    display: flex;
    /* display: grid;
    grid-template-columns: 50px 1fr; */
    margin-top: 10px;
}
.channel-picture{
    width: 36px;
    height: 36px;
    border-radius: 20px;
    margin-right: 10px;
    transition: hover 0.15s;
}
.video-link{
    text-decoration: none;
    color: #000000;
}
.video-text{
    width: 230px;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
}
.video-author{
    margin-bottom: 4px;
    font-size: 12px;
    color: rgb(96,96,96);
}
.channel-picture-hover{
    display: flex;
    width: 200px;
    /* background-color: red; */
    align-items: center;
    opacity: 0;
    border-width: 2px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
    pointer-events: none;
    /* padding-left: 10px; */
    padding: 10px 0px 10px 10px;
}
.channel-picture-hover .video-author{
    font-weight: bold;
    color: black;
}
.channel-picture-hover .channel-picture{
    width: 45px;
    height: 45px;
    border-radius: 25px;
}
.channel-image:hover .channel-picture-hover{
    opacity: 1;
    background-color: white;
}
.channel-picture-hover .video-author{
    font-size: 15px;
}
.channel-picture-hover .video-stats{
    font-size: 14px;
}
.channel-image{
    position: relative;
}
.channel-picture-hover{
    position: absolute;
}
.video-stats{
    font-size: 12px;
    color: rgb(96,96,96);
}
.header{
    height: 55px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgb(222, 221, 221);
    z-index: 100;
    padding: 0px 8.5px;
}
.left-section{
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 24px;
    margin: 0px 24px 0px 24px;
}
.youtube-logo{
    height: 20px;
}
.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(192, 188, 188);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}
.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}
.search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(192, 188, 188);
    margin-left: -1px;
    margin-right: 10px;
    position: relative;
} 
.search-button, 
.voice-search-button, 
.upload-icon-container,
.youtube-apps-container,
.notifications-icon-container,
.user-image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search-button .tooltip, 
.voice-search-button .tooltip, 
.upload-icon-container .tooltip,
.youtube-apps-container .tooltip,
.notifications-icon-container .tooltip
{
    font-family: Roboto, Arial;
    position: absolute;
    background-color: rgba(96, 96, 96, 0.9);
    color: white ;
    padding: 10px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -50px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tooltip, 
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifications-icon-container:hover .tooltip{
    opacity: 1;
}   
.search-icon{
    height: 25px;
}
.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(248, 248, 248);
}
.voice-search-icon{
    height: 24px;
}

.right-section{
   width: 180px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-right: 20px;
   /* don't shrink */
   flex-shrink: 0;  
}
.upload-icon{
    height: 24px;
}
.youtube-apps-icon{
    height: 24px;
}
.notifications-icon{
    height: 24px;
}
.notifications-icon-container{
    position: relative;
}
.notifications-count{
    position: absolute;
    top: -3px;
    right: -4px;
    background-color: rgb(204, 0, 0);
    color: white;
    /* width: 15px; */
    border-radius: 10px;
    font-family: Roboto, Arial;
    font-size: 11px;
    padding: 1px 5px;
}
.current-user-picture{
    height: 32px;
    border-radius: 16px;
}
.sidebar{
    background-color: white;
    color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 90px;
    z-index: 200;
    padding-top: 5px;
}
.sidebar-link{
    /* background-color: lightgrey; */
    height: 74px;
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.sidebar-link:hover{
    background-color: rgb(236, 233, 233);
}
.video-time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 8px;
    font-family: Roboto, Arial;
    font-size: 13px;
    font-weight: 500;
    padding: 4px 4px;
    border-radius: 2px;
}
.sidebar-link img{
    height: 24px;
}
.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
    padding-top: 4px;
}

